@Author: Rajat Nandardhane<br>
Date: 25th April 2020<br>
SourceControl: 1.6

In [23]:
import pandas as pa
import numpy as np

In [24]:
vicData=pa.read_csv("States/vic.csv")
nswData=pa.read_csv("States/nsw.csv")
qldData=pa.read_csv("States/qld.csv")
ntData=pa.read_csv("States/nt.csv")
waData=pa.read_csv("States/wa.csv")
tasData=pa.read_csv("States/tas.csv")
actData=pa.read_csv("States/act.csv")
saData=pa.read_csv("States/sa.csv")

/Users/root1/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (15,54,56) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/root1/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (42) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [25]:
print(vicData.shape)
print(nswData.shape)
print(qldData.shape)
print(ntData.shape)
print(waData.shape)
print(tasData.shape)
print(actData.shape)
print(saData.shape)

(9525, 57)
(9560, 57)
(59996, 57)
(4955, 57)
(4197, 57)
(35103, 57)
(31, 57)
(64829, 57)

In [26]:
masterData=pa.concat([vicData,nswData])
masterData=pa.concat([masterData,qldData])
masterData=pa.concat([masterData,ntData])
masterData=pa.concat([masterData,waData])
masterData=pa.concat([masterData,tasData])
masterData=pa.concat([masterData,actData])
masterData=pa.concat([masterData,saData])
masterData.shape

(188196, 57)

In [27]:
masterData.describe()

,Latitude - original,Longitude - original,Latitude,Longitude,Coordinate Precision,Coordinate Uncertainty in Metres,Minimum elevation in meters,Maximum elevation in meters,Minimum depth in meters,Maximum depth in meters,Year,Month,Day
count,186308.000000,186308.000000,186345.000000,186345.000000,0.0,135974.000000,5053.000000,5053.000000,13003.0,13003.0,175028.000000,166584.000000,153917.000000
mean,-31.625174,143.807531,-31.625300,143.809020,NaN,2047.635611,395.523685,395.953924,0.0,0.0,2003.722513,6.255030,15.467902
std,9.761606,8.036592,9.758383,8.036814,NaN,7778.220042,303.879711,304.300563,0.0,0.0,12.761199,3.306597,8.713654
min,-54.820509,113.000000,-54.820509,113.000000,NaN,-1.000000,0.000000,0.000000,0.0,0.0,1836.000000,1.000000,1.000000
25%,-36.144014,136.846215,-36.141100,136.846490,NaN,50.000000,334.000000,334.000000,0.0,0.0,2000.000000,3.000000,9.000000
50%,-33.017995,145.300000,-33.016342,145.300000,NaN,100.000000,353.000000,353.000000,0.0,0.0,2005.000000,6.000000,15.000000
75%,-26.600000,149.606622,-26.600000,149.623300,NaN,500.000000,474.000000,474.000000,0.0,0.0,2012.000000,9.000000,23.000000
max,35.333333,159.075000,-9.133300,159.075000,NaN,1000000.000000,2100.000000,2100.000000,0.0,0.0,2020.000000,12.000000,31.000000

### Drop Unanted columns:

In [28]:
data=masterData[['Vernacular name - original','Scientific Name','Taxon Rank','Kingdom','Phylum','Class',
              'Family','Genus','Latitude','Longitude','Country - parsed','State - parsed','Year']]
data.shape

(188196, 13)

In [29]:
data.isnull().sum()

Vernacular name - original    31089
Scientific Name                   0
Taxon Rank                        0
Kingdom                           0
Phylum                            0
Class                             0
Family                            0
Genus                            35
Latitude                       1851
Longitude                      1851
Country - parsed                  0
State - parsed                    0
Year                          13168
dtype: int64

In [30]:
data['Scientific Name'].value_counts()

Macrotis lagotis                           27353
Sarcophilus harrisii                       25559
Numenius (Numenius) madagascariensis       18241
Mirounga leonina                            9398
Eubalaena australis                         9344
                                           ...
Balaenoptera borealis                          1
Perameles eremiana                             1
Mirounga leonina leonina                       1
Neochmia (Neochmia) ruficauda ruficauda        1
Myrmecobius fasciatus fasciatus                1
Name: Scientific Name, Length: 179, dtype: int64

In [31]:
a=data['Scientific Name'].loc[data['Scientific Name'].str.startswith('Petrogale lateralis', na=False)]
a.value_counts()

Petrogale lateralis lateralis    683
Petrogale lateralis              315
Petrogale lateralis hacketti      82
Name: Scientific Name, dtype: int64

In [32]:
data['Vernacular name - original'][data['Scientific Name']=="Zyzomys pedunculatus"].value_counts()

Central Rock-rat               92
Central Australian Rock Rat     8
Central Rock Rat                1
Name: Vernacular name - original, dtype: int64

In [33]:
# mapName=data.groupby(['Scientific Name','Vernacular name - original']).sum().reset_index()

In [34]:
# mapName.to_csv('names2.csv', sep=',', encoding='utf-8', index = False)

In [35]:
# Manually removing the typos:

data.loc[data['Scientific Name'] == 'Dasyurus maculatus gracilis', 'Scientific Name'] = 'Dasyurus maculatus'
data.loc[data['Scientific Name'] == 'Mirounga leonina leonina', 'Scientific Name'] = 'Mirounga leonina'
data.loc[data['Scientific Name'] == 'Myrmecobius fasciatus fasciatus', 'Scientific Name'] = 'Myrmecobius fasciatus'
data.loc[data['Scientific Name'] == 'Perameles bougainville bougainville', 'Scientific Name'] = 'Perameles bougainville'
data.loc[data['Scientific Name'] == 'Petrogale lateralis hacketti', 'Scientific Name'] = 'Petrogale lateralis'
data.loc[data['Scientific Name'] == 'Petrogale lateralis lateralis', 'Scientific Name'] = 'Petrogale lateralis'
data.loc[data['Scientific Name'] == 'Petrogale xanthopus xanthopus', 'Scientific Name'] = 'Petrogale xanthopus'
data.loc[data['Scientific Name'] == 'Potorous tridactylus tridactylus', 'Scientific Name'] = 'Potorous tridactylus'

/Users/root1/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [36]:
#Read Scientific names file and fix typos in vernacular names:
names=pa.read_csv("names.csv")
names.shape

(152, 2)

In [37]:
data['Scientific Name'].value_counts()

Macrotis lagotis                           27353
Sarcophilus harrisii                       25559
Numenius (Numenius) madagascariensis       18241
Mirounga leonina                            9399
Eubalaena australis                         9344
                                           ...
Lagorchestes hirsutus hirsutus                 2
Trisyntopa scatophaga                          1
Perameles eremiana                             1
Neochmia (Neochmia) ruficauda ruficauda        1
Balaenoptera borealis                          1
Name: Scientific Name, Length: 171, dtype: int64

In [38]:
data.shape

(188196, 13)

In [39]:
data2=data
data2.shape

(188196, 13)

In [40]:
for i in range(len(names)):
    data2.loc[data2['Scientific Name'] == names['Scientific Name'][i],
              'Vernacular name - original'] =names['Vernacular name - original'][i]

/Users/root1/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [41]:
data2.shape

(188196, 13)

In [42]:
data2.drop_duplicates(subset ="Vernacular name - original", keep = "first", inplace = True)
data2['Scientific Name'].value_counts()

/Users/root1/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Sarcophilus harrisii        1
Rheobatrachus vitellinus    1
Notamacropus dorsalis       1
Pseudomys australis         1
Pseudomys delicatulus       1
                           ..
Taudactylus pleione         1
Taudactylus eungellensis    1
Leporillus apicalis         1
Nyctophilus gouldi          1
Dermochelys coriacea        1
Name: Scientific Name, Length: 153, dtype: int64

In [43]:
#Export clean MasterDataset:
data2.shape

(153, 13)

## Export Animal Desctiption:

In [39]:
animalExport=data2[['Vernacular name - original','Scientific Name','Taxon Rank','Kingdom','Phylum','Class',
              'Family','Genus']]
animalExport.drop_duplicates(inplace=True)

/Users/root1/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [53]:
animalExport.dropna(inplace=True)
animalExport.drop_duplicates(subset ="Vernacular name - original", keep = "first", inplace = True)

/Users/root1/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/root1/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [54]:
animalExport.shape

(151, 8)

In [55]:
# animalExport.to_csv('Final/AnimalExplorer.csv', sep=',', encoding='utf-8', index = False)

In [ ]:
data.dropna(inplace=True)
data.shape

In [ ]:
# a=data['Scientific Name'].loc[data['Scientific Name'].str.startswith('Potorous tridactylus', na=False)]

In [ ]:
data['Scientific Name'].nunique()

In [ ]:
data.groupby(['Scientific Name','Vernacular name - original']).count()

In [ ]:
masterData[masterData.Year<=1950]

# Generalize Function:

## yearWise Distribution:
Looking at the graph we can say 99% of the data points falls after 1960:

In [ ]:
masterData.Year.plot.hist(bins=15, alpha=1)

In [ ]:
#Filter the VIC Dataset 1960 < Year >2020:
data=vicData[vicData.Year>=1960]
data.shape
#Drop un-wanted rows:
data=data[['Vernacular name - original','Scientific Name','Taxon Rank','Kingdom','Phylum','Class',
              'Family','Genus','Latitude','Longitude','Country - parsed','State - parsed','Year']]
data.shape

In [ ]:
data.isnull().sum()

In [ ]:
## To pre-process all datasets for all the states
def process(inputFile,outputFile):
    inputPath="States/"
    outPath="CleanStates/"
    path=inputPath+inputFile+".csv"
    data=pa.read_csv(path)
    print(inputFile+str(data.shape))
    metadata=open(inputFile+'.txt','w+')
    metadata.write("Shape:"+str(data.shape))
    metadata.write(str(data.columns))
    data=data[['Vernacular name - original','Scientific Name','Taxon Rank','Kingdom','Phylum','Class',
              'Family','Genus','Latitude','Longitude','Country - parsed','State - parsed','Year','Individual count']]
    metadata.write("Shape selected Columns:"+str(data.shape))
    data.dropna(inplace=True)
    data.reset_index(drop=True, inplace=True)
    metadata.write("Shape after NA:"+str(data.shape))
    data[['Year','Individual count']]=data[['Year','Individual count']].astype(int)
    data=data.sort_values(['Year','Scientific Name'],ascending=False)
    data.to_csv(outPath+outputFile+'.csv', sep=',', encoding='utf-8', index = False)

In [ ]:
data['Scientific Name'].value_counts()

In [ ]:
data.groupby(['Scientific Name','Vernacular name - original']).sum()

In [ ]:
a=data.groupby(['Scientific Name','Vernacular name - original']).sum().reset_index()

In [ ]:
masterData.groupby(['Scientific Name','Vernacular name - original']).sum().reset_index()

In [ ]:
mapName=masterData.groupby(['Scientific Name','Vernacular name - original']).sum().reset_index()

In [ ]:
# mapName.to_csv('names.csv', sep=',', encoding='utf-8', index = False)